*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  min-height: 100vh;
  margin: 40px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ant-row.ant-form-item-row {
  display: block !important;
}

.ant-form-item-label{
  text-align: start !important;
}
.ant-input-number{
  width: 180px !important;
}